/*	FONTS
------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700|Roboto:400,700|Ubuntu:400,700&subset=cyrillic');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
  font-family: 'Ubuntu', sans-serif;
  color: #393939;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}


/* ------ Normalize ----- */

*,
*:after,
*:before {
  box-sizing: border-box;
}